@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* background: url('/bg.png'); */
  /* background: #28282B; */
  background-size: cover;
  font-family: 'Prompt', sans-serif;
  scroll-behavior: smooth;
}

.hero__section{
  background-image: url('/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}


.cover__pg {
  background-image: url('/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -10rem;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #000;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}


details {
  user-select: none;
}

details>summary svg {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
}

details[open] summary svg {
  transform: rotate(180deg);
}

summary {
  display: flex;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}